h2 {
  bottom: 0;
  height: 3rem;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  position: absolute;
}

a.favorites {
  color: yellow;
  display: block;
  font-size: 2em;
  height: 3rem;
  right: 0.6rem;
  top: 0.6rem;
  text-indent: -9999px;
  width: 3rem;
}
a.favorites:before {
  content: '♡';
  display: flex;
  height: 100%;
  position: absolute;
  right: 0;
  text-indent: 0;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}
a.favorites.in {
}
a.favorites.in:before {
  content: '❤';
}
a.play {
  align-items: center;
  background: #000;
  border-radius: 4rem;
  color: #fff;
  display: flex;
  font-size: 2em;
  height: 8rem;
  justify-content: center;
  left: 50%;
  margin: -5.5rem 0 0 -4rem;
  opacity: 0.7;
  top: 50%;
  text-transform: uppercase;
  width: 8rem;
}
