<ng-content select=".head"></ng-content>

<div *ngIf="type === 'multiselect' || type === 'select'">
  <select
      [title]="type === 'multiselect' ? 'Используйте клавиши Ctrl и Shift для мультивыбора' : ''"
      [attr.multiple]="type === 'multiselect' ? true : null"
      *ngIf="values.length"
      (change)="changeValue($event.target)"
  >
    <option
      *ngFor="let val of values;"
      [attr.value]="val.Id"
    >
      {{val.Name}}
    </option>
  </select>
</div>

<div *ngIf="type === 'input'">
  <input type="text"
         (change)="changeValue($event.target)"
         (keyup)="prechangeValue($event.target)"
  />
</div>
