.container {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

header nav {
  align-self: center;
}
header h1,
header .panel {
  flex: 0 1 25%;
}

header .panel {
  display: flex;
  justify-content: flex-end;
}
header .panel > * {
  margin: 0 10px;
}

header .container {
  align-items: center;
}

.container > main {
  flex: auto;
}
.container > aside {
  flex: 0 1 25%;
}

aside {
}
aside > section:nth-child(n+2) {
  margin-top: 50px;
}
