.container {
  display: flex;
  justify-content: space-between;
  min-width: 800px;
  padding: 0 15px;
}

header nav {
  align-self: center;
}
header h1,
header .panel {
  flex: 0 1 25%;
}

header .panel {
  display: flex;
  justify-content: flex-end;
}
header .panel > * {
  margin: 0 10px;
}

header .container {
  align-items: center;
}

.container > main {
  flex: auto;
}
.container > aside {
  flex: 0 0 25%;
}

aside {
  margin:1rem -1rem 1rem 1rem;
}
aside > section:nth-child(n+2) {
  margin-top: 3rem;
}

aside > section > app-filter,
aside > section > app-setting {
  display: block;
  margin: 1rem 0 0;
}

main {
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
}
main > article {
  flex: 0 0 33%;
  width: 33%;
  padding: 1rem 1rem 3rem;
  position: relative;
}

main > article.not-found {
  align-items: center;
  font-size: 2rem;
  color: #424242;
  display: flex;
  flex:auto;
  justify-content: center;
  height: 50vh;
  width: 100%;
}

#star {
  display: flex;
  align-items: center;
}
