<header>
  <div class="container">
    <h1>{{title}}</h1>

    <nav>
      <app-pager
        [pager]="pager"
        (changePageHandler)="changePageNumber()"
      >
      </app-pager>
    </nav>

    <app-favorite
      [length]="gamesInFavorites.length"
      (toggleFavoriteHandler)="toggleFavorites()"
    >
    </app-favorite>

    <div class="panel">
      <span class="total" *ngIf="games.length" >Всего: <b>{{games.length}}</b></span>
      <a href="#" class="search">search</a>
      <a href="#" class="filter">filter</a>
      <a href="#" class="setting">setting</a>
    </div>
  </div>
</header>
<div class="container">
  <main>
    <article *ngFor="let game of Games">
        <app-game
          [game]="game"
          (changeFavoritesHandler)="changeFavorites()"
        ></app-game>
    </article>
  </main>

  <aside>
    <section class="filter-wrapper">
      <h3>Фильтр:</h3>
      <app-setting
        type="select"
        [values]=""
      >
        <h4 class="head">Категория:</h4>
      </app-setting>
      <app-setting
        type="select"
      >
        <h4 class="head">Провайдер:</h4>
      </app-setting>
    </section>
    <section class="setting-wrapper">
      <h3>Настройки: </h3>
      <app-setting
        type="select"
        [values]="settings.gamesOnPage.values"
        [value]="settings.gamesOnPage.value"
        (changeValueHandler)="changeGamesOnPageCount($event)"
      >
        <h4 class="head">На странице:</h4>
      </app-setting>
      <app-setting
        type="input"
        [value]="123"
      >
        <h4 class="head">Просто настройка:</h4>
      </app-setting>
    </section>
    <section class="footer">
      <div class="copyright">Developed by {{author}}</div>
      <div class="version">v. {{version.join('.')}}</div>
    </section>
  </aside>
</div>
<footer>

</footer>
