.container {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

header nav {
  align-self: center;
}
header h1,
header .panel {
  flex: 0 1 25%;
}

header .panel {
  display: flex;
  justify-content: flex-end;
}
header .panel > * {
  margin: 0 10px;
}

header .container {
  align-items: center;
}

.container > main {
  flex: auto;
}
.container > aside {
  flex: 0 0 25%;
}

aside {
  margin:0 1rem 0 1rem;
}
aside > section:nth-child(n+2) {
  margin-top: 50px;
}

main {
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
  margin: 0 -1rem;
}
main > article {
  flex: 0 0 33%;
  width: 33%;
  padding: 1rem 1rem 3rem;
  position: relative;
}

#star {
  display: flex;
  align-items: center;
}
