<header>
  <div class="container">
    <h1>{{title}}</h1>

    <nav>
      <app-pager
        [pager]="pager"
        (changePageHandler)="changePageNumber()"
      >
      </app-pager>
    </nav>

    <app-favorite id="star"
      [length]="FavoriteGamesCount"
      (toggleFavoriteHandler)="toggleFavorites($event)"
    >
    </app-favorite>

    <div class="panel">
      <span class="total" *ngIf="GamesCount">Игр: <b *ngIf="isFiltered">{{FilteredGamesCount}}
        /</b><b>{{GamesCount}}</b></span>
      <!--      <a href="#" class="search" title="Показать панель поиска">Поиск</a>-->
<!--      <a href="#" class="filter" title="Открыть окно с фильтрами">Фильтры <span *ngIf="isFiltered">!</span></a>-->
<!--      <a href="#" class="setting" title="Открыть окно с настройками ">Настройки</a>-->
    </div>
  </div>
</header>

<div class="container">
  <main>
    <article *ngFor="let game of Games">
      <app-game
        [game]="game"
        (changeFavoritesHandler)="changeFavorites()"
      ></app-game>
    </article>
    <article class="not-found" *ngIf="isFiltered && !FilteredGamesCount">
      Игры не найдены.
    </article>
  </main>

  <aside>
    <!--    Фильтры -->
    <section class="filter-wrapper">
      <h3>Фильтр:</h3>
      <app-filter
        type="multiselect"
        [values]="categories"
        (changeValueHandler)="changeFilterCategories($event)"
      >
        <h4 class="head">Категория:</h4>
      </app-filter>
      <app-filter
        type="select"
        [values]="merchants"
        (changeValueHandler)="changeFilterMerchant($event)"
      >
        <h4 class="head">Поставщик:</h4>
      </app-filter>
      <app-filter
        type="input"
        (changeValueHandler)="changeFilterName($event)"
      >
        <h4 class="head">По названию:</h4>
      </app-filter>
    </section>

    <!-- Настройки-->
    <section class="setting-wrapper">
      <h3>Настройки: </h3>
      <!-- Кол-во на странице -->
      <app-setting
        type="select"
        [values]="storageSettings.gamesOnPage.values"
        [value]="storageSettings.gamesOnPage.value"
        (changeValueHandler)="changeGamesOnPageCount($event)"
      >
        <h4 class="head">На странице:</h4>
      </app-setting>

      <!-- Сортировка -->
      <app-filter
        type="select"
        [values]="SortingList"
        (changeValueHandler)="changeOrdering($event)"
      >
        <h4 class="head">Сортировка:</h4>
      </app-filter>
    </section>

    <section class="footer">
      <div class="copyright">Developed by {{author}}</div>
      <div class="version">v. {{version.join('.')}}</div>
    </section>
  </aside>
</div>
<footer>

</footer>
